<p style="color: green"><%= notice %></p>

<%= render @image %>

<div>
  <%= link_to "Edit this Image", edit_image_path(@image) %> |
  <%= link_to "Back to Images", images_path %>

  <%= button_to "Destroy this Image", @image, method: :delete ,class: 'btn btn-danger'%>
</div>
